body{
    background-color: white;
}

#syllabus-code{
    background-color: rgb(255, 255, 255);
    color: rgb(3, 3, 3);
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
  }

#module-code{
  background-color: rgb(255, 255, 255);
    color: rgb(7, 7, 7);
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
  }
#group{
  background-color: rgb(255, 255, 255);
  color: rgb(1, 1, 1);
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
}
.text-field{
  background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
  }
.mod-major{
  background-color: rgb(168, 143, 138);
  color: white;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
}
.module-name{
  background-color: rgb(168, 143, 138);
  color: white;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
}

.credit-hour{
  background-color: rgb(168, 143, 138);
    color: white;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
  }
  .module-type{
    background-color: rgb(168, 143, 138);
    color: white;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
  }
  .lab-included{
    background-color: rgb(168, 143, 138);
    color: white;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
  }
  .gorup{
    background-color: rgb(109, 89, 86);
    color: white;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
  }